<!DOCTYPE html>
<html>
  <head>
    <title>AI Voice Assistant</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/scripts.js"></script>
  </head>
  <body>
  <div id="main">
    <div id="myCircle">
      <div id="mainCircle">
        <div class="circle"></div>
        <div class="circle1"></div>
        <div id="mainContent">
          <ul class="bars">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <input type="text" id="user-input" placeholder="Type your query here...">

    <button id="start-record-button">Start Recording</button>
    <button id="stop-record-button" style="display: none;">Stop Recording</button>

    <div id="recording-indicator" style="visibility: hidden" >Recording...</div>

  </body>
</html>
